#van-der-linde-gang {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

q {
    font-style: italic;
}

html body {
    background-color: rgb(46, 46, 46);
    font-family: 'Roboto Condensed', sans-serif;
}

p, h5, q {
    color: black;
}


/* 
TODO:
Float quote and paragraph to the right of the image

*/